footer {
    width: 1250px;   
    background-color: #234465;
    font-family: Tahoma;
    font-size: 12px;    
    color: white;    
}

footer >section {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    color: #e3910d;
    margin-top: 20px;
    margin-bottom: 5px;
}

section ul {
    float: left;
    padding-left: 0;
}

section ul li {
    margin:10px;
    list-style:none;    
}

section ul li:hover {
    color: #e3910d;    
}

input {
    display: block;
    cursor: pointer;
    width: 150px;
    height: 40px;
    background-color: inherit;
    color: inherit;
    margin: 20px;
    border: 2px solid #e3910d;
}

input:hover {
    background-color: #e3910d;
    border: 2px solid inherit;
    color: #234465;
}

section:nth-of-type(3) {   
    margin-left: 10px
}

section:nth-of-type(5) {   
    width: 320px;
    margin-left: 50px;
}

section:nth-of-type(4) li {
    margin-left: 0;  
}

section:nth-of-type(4) ul.social li {
    display: inline-block;
    margin: 2px;
    width: 30px;
    height: 30px;    
}

section:nth-of-type(4) input {
    width: 30px;
    height: 30px;
    margin: 0;
    background: url(../resources/mini-social-icons.png);
}

button {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

#BtnTwitter {
    background: #234465 url('../resources/mini-social-icons.png') no-repeat scroll center;    
    background-position: -448px -14px;  
}

#BtnFacefook {
    background: #234465 url('../resources/mini-social-icons.png') no-repeat scroll center;   
    background-position: -13px -14px;
}

#BtnGoogle {
    background: #234465 url('../resources/mini-social-icons.png') no-repeat scroll center;   
    background-position: -176px -14px;
}

#BtnYoutube {
    background: #234465 url('../resources/mini-social-icons.png') no-repeat scroll center;   
    background-position: -558px -14px;
}

#BtnGithub {
    background: #234465 url('../resources/github.png') no-repeat scroll center;
    background-size: cover;
}

section>iframe {
    margin: 20px;
    background-color: white;
}

