body {
    font-family:Tahoma;
    font-size: 60px
}

table, table th, table td {
    border-style: solid;
    border-color: black;
    border-width: 1px;    
}

table th, table td {
    padding:10px;
}

