body {
    font-family: Tahoma;
    text-align: center; 
}

table, th, tr, td {
    border: solid;
    border-width: 1px;
    border-color: #a7acb1;
}

table td, table th {
    height: 100px;
    width: 100px;   
}

table td table {
    border: none;
}

table td table td {
    height: 45px;
    border: none;
}

table td table td button {
    height: 45px;
    font-size: 15px;
}

table th button {
    width: 410px;
    height: 95px;
    font-size: 28px;
    font-weight: bold;
    color: #96343d;
    text-shadow:3px 2px 2px rgba(0,0,0,0.4);
}

button {
    width: 95px;
    height: 95px;
    font-size: 18px;
    color: #96343d;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.large button {
    width: 195px;
}

#beer button {
    width: 305px;
    text-align: right;
    font-size: 25px;
}