p {
    background:url(../images/star-wars-the-force-awakens-toys-toy-fair-2015.jpeg);
    background-repeat: repeat;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align:center;
    color: white;
    padding-top: 5px;
}